.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .link-item {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #1d1a1b;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #000000f1;
    overflow: hidden;
    position: relative;

    i {
      color: #037FFF;
      line-height: 90px;
      font-size: 26px;
      transition: 0.2s linear;
    }

    &:hover i {
      transform: scale(1.3);
      color: #1d1a1b;
    }
  }

  ::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #4f9bff;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }

  :hover::before {
    animation: btnAnimation 0.7s 1;
    top: -10%;
    left: -10%;
  }

  @keyframes btnAnimation {
    0% {
      left: -110%;
      top: 90%;
    }50% {
      left: 10%;
      top: -30%;
    }100% {
      top: -10%;
      left: -10%;
    }
  }
}
